# Active Environment Mode ('development' | 'production')
VITE_APP_ENV=development

# Environment API Endpoints (DEV vs PROD)
VITE_API_BASE_URL_DEV="http://localhost:5000/api/v1"
VITE_API_BASE_URL_PROD="https://c2c-negk.onrender.com/api/v1"

# Google OAuth 2.0 Client Credentials
VITE_GOOGLE_CLIENT_ID="your_google_oauth_client_id_here.apps.googleusercontent.com"
